html {
    font-size: 100%;
}

body {
    background: #fff;
    font-family: Arial, helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
}

span {
    font-weight: bold
}

button {
    margin-left: 5px;
    padding: 5px;
    width: auto;
    color: rgb(228, 227, 235);
    background: #342C9F;
    border: 1px solid #342C9F;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

input {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 1px rgba(226, 226, 226, 0.82);
    border-radius: 4px;
}

.frame {
    width: 1080px;
    height: 720px;
}

.row>p>input {
    margin-left: 15px;
    margin-right: 15px;
    height: 22px;
}

.row>p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    margin: 20px 15px;
    padding: 10px 30px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px 1px rgba(226, 226, 226, 0.82);
    hyphens: auto;
}

div>ol>li {
    color: black;
}

.ctitle {
    font-size: 28px;
}

.midle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 300px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px 1px rgba(226, 226, 226, 0.82);
}

.central {
    flex-direction: column;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.midle>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group {
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 5px;
}

.group label {
    margin-bottom: 5px;
    font-size: 16px;
}

.group label:hover {
    cursor: pointer;
}

.groulabel label:hover {
    cursor: pointer;
}

.radiobutton {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.radiobutton input {
    margin: 0;
}

.radiobutton label {
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 0;
}

.radiobutton label:hover {
    cursor: pointer;
}

.float {
    text-align: center;
    margin-right: 2%;
    position: sticky;
    float: right;
    top: 0px;
}

.insbutton {
    z-index: 1;
    text-align: center;
    margin-top: 10px;
    position: sticky;
    top: 50px;
    max-width: 150px;
}

.question {
    width: 90%;
    border: 1px solid #342C9F;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 30px;
}

.questionLabel {
    padding: 15px 0;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px !important;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 1px rgba(226, 226, 226, 0.82);
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 3px !important;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.row {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
    margin-top: 15px;
}

input[type='radio'] {
    cursor: pointer;
    -webkit-appearance: none;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    outline: none;
    border: 3px solid #342c9f;
}

input[type='radio']:before {
    content: "";
    display: block;
    width: 11px;
    height: 12px;
    margin: 20% auto;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background: #342c9f;
}

input[type="radio"]:checked {
    border-color: #342c9f;
}

.top {
    display: flex;
    flex-direction: row;
}

.video {
    padding: 15px 0;
    margin-left: 30px;
}

video {
    border: 2px solid #342C9F;
    box-sizing: border-box;
    border-radius: 4px;
}

.labels-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.truth {
    /* box-sizing: unset; */
    box-shadow: 0px 0px 15px 15px #855CF8;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 175px;
    height: 175px;
    color: #FFFFFF;
    background: #855CF8;
    margin-bottom: 80px;
}

.truth>img {
    margin-bottom: 15px;
    opacity: 0.5;
}

.lie {
    box-shadow: 0px 0px 15px 15px #EB5757;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 175px;
    height: 175px;
    color: #FFFFFF;
    background: #EB5757;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.lie>img {
    margin-bottom: 15px;
    opacity: 0.5;
}

.disabled {
    box-shadow: 0px 0px 15px 15px #BDBDBD;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 175px;
    color: rgba(255, 255, 255, 0.8);
    background: #BDBDBD;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.disabled>img {
    margin-bottom: 15px;
    opacity: 0.25;
}

.interLabel {
    /* font-style: italic; */
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 0;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: 100px;
    font-size: 24px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 1px rgba(226, 226, 226, 0.82);
    border-radius: 8px;
    font-weight: bold;
    /* letter-spacing: 2px !important; */
    text-align: center;
    letter-spacing: 0.01em;
    /* text-transform: uppercase; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.changeQw {
    margin: 20px;
}