.instruction {
    margin-top: 40px;
    left: 138px;
    right: 180px;
    top: 149px;
    bottom: 919px;
    background: #FFFFFF;
    border: 1px solid #342C9F;
    box-sizing: border-box;
    border-radius: 8px;
}