main {
    margin-top: 10px;
    flex-grow: 1;
    margin-left: 200px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    color: #FFFFFF;
    margin-bottom: 10px;
}

.main-flex {
    display: flex;
    flex-direction: row;
}

.sidenav {
    flex-grow: 1;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #342C9F;
}

.single {
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    display: block;
    padding: 10px 10px;
}

.inslink {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    display: block;
}

.inslinkd {
    color: #342C9F;
    opacity: 0.75;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    pointer-events: none;
    font-size: 16px;
    display: block;
}

.inslink-page {
    color: #342C9F;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.inslink-page:hover {
    color: #fff;
    opacity: 0.75;
    background-color: #342C9F;
    padding-right: 16px;
    border-radius: 4px;
    width: fit-content;
    transition: 0.1s;
}

.sidenav button {
    background-color: #342C9F;
    border: 0;
    cursor: pointer;
}